SECRET_KEY=')spfsqyl0)2ka-528*(p9oym@6xpv6h6fyh=&wy@i@#&^@!^&p'
ALLOWED_HOSTS=127.0.0.1, .localhost
DEBUG=True
DB_NAME=user_db
DB_USER=user_name
DB_PASSWORD=user_password
DB_HOST=localhost
DB_PORT=5432