{% include "base.html" %}

{% block content %}
    <div class="product-list">
        {% for product in product_list %}
            <div class="product-item">
                {% if product.image_cover %}
                    <img src="{{ product.image_cover.url }}" width="70" height="120" />
                {% endif %}
                <p>{{ product.title }}</p>
                <p>{{ product.id }}</p>
                <p>Rs. {{ product.price }}</p>
                <a href="{% url 'add_to_cart' product.id %}">
                <button data-product={{product.id}} data-action="add" class="add-btn update-cart">Add to Bag</button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}