{% extends "base.html" %}
{% load static %}



{% block main_content %}

<!--Section: Block Content-->
<section>

  <!--Grid row-->
  <div class="row ml-5">

    <!--Grid column-->
    <div class="col-lg-7">

      <!-- Card -->
      <div class="card wish-list mb-3">
        <div class="card-body">

          
          {% for order_item in object.items.all  %}
          
            <div class="row mb-4">
              <div class="col-md-5 col-lg-3 col-xl-3">

                {% if order_item.item.image_cover %}

                  <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                    <img class="img-fluid w-100"
                      src="{{ order_item.item.image_cover.url }}" alt="Sample">
                    <a href="#!">

                      <div class="mask waves-effect waves-light">
                        <img class="img-fluid w-100"
                          src="{{ order_item.item.image_cover.url }}">
                        <div class="mask rgba-black-slight waves-effect waves-light"></div>
                      </div>
                    </a>
                  </div>

                {% endif %}

              </div>
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div class="text-justify text-wrap">
                      <h5></h5>
                      <a href="{{ order_item.item.get_absolute_url }}" class="dark-grey-text">{{ order_item.item.title }}</a>
                      <p class="mb-3 text-muted small">{{ order_item.item.description }}</p>
                    
                      <div class="align-items-right safari_only mb-0 w-100">
                        <a href="{% url 'decrease_quantity' order_item.item.slug %}"><i class="fas fa-minus mr-5"></i></a>
                        {{ order_item.quantity }}
                        <a href="{% url 'increase_quantity' order_item.item.slug %}"><i class="fas fa-plus ml-5"></i></a>
                        
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-5">
                    <div class="mt-5">
                      <a href="{{ order_item.item.get_remove_from_cart_url }}" type="button" class="btn btn-danger btn-md my-0 card-link-secondary small text-uppercase mr-3"><i
                          class="fas fa-trash-alt mr-1"></i> Remove item </a>
                      <a href="#!" type="button" class="btn btn-success btn-md my-0 card-link-secondary small text-uppercase"><i
                          class="fas fa-heart mr-1"></i> Move to wish list </a>
                    </div>
                    <p class="mb-0 mt-5"><span><strong>Rs. {{ order_item.item.price }}</strong></span></p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="mb-4">
            {% empty %}
            <div class="row justify-content-center mb-2 border-line"> 
              <img src="{% static 'img/svg/empty_cart.svg' %}" class="image">
              <div class="justify-content-center">
                <h1>Your cart is empty!</h1>
                <p class="mt-5 text-muted small ">Add items to it now.</p>
                <a href="{% url 'home' %}" class="btn btn-primary btn-md my-0">Shop now
            </a>
              </div>
            </div>
            


          {% endfor %}

        </div>
      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4">

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <h5 class="mb-3">The total amount of</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Temporary amount
              <span>-</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Shipping
              <span>Gratis</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Delivery Charges
              <span class=" text-green">Free</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>The total amount of</strong>
                <strong>
                  <p class="mb-0">(including GST)</p>
                </strong>
              </div>
              <span><strong>Rs. {{ object.get_total_amount|floatformat }} </strong></span>
            </li>
          </ul>

          
          <a href="{% url 'checkout' %}" type="button" class="btn btn-primary btn-block waves-effect waves-light">Place Order </a>

        </div>
      </div>
      <!-- Card -->

     

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Block Content-->

{% endblock main_content %}