{% extends "base.html" %}
{% load static %}


{% block main_content %}

<!--Section: Block Content-->
<section>

  <!--Grid row-->
  <div class="row ml-5">

    <!--Grid column-->
    <div class="col-lg-4">

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <h5 class="mb-3">The total amount of</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Temporary amount
              <span>-</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Shipping
              <span>Gratis</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Delivery Charges
              <span class=" text-green">Free</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>The total amount of</strong>
                <strong>
                  <p class="mb-0">(including VAT)</p>
                </strong>
              </div>
              <span><strong>Rs. {{ object.get_total_amount|floatformat }} </strong></span>
            </li>
          </ul>
          <hr class="mb-4">
        </div>
      </div>
      <!-- Card -->
  
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <form>
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="mb-1">
                          <h6 class="mb-0 text-sm">Name</h6>
                      </label>
                      {{ form.name }}
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="mb-1">
                          <h6 class="mb-0 text-sm">Phone number</h6>
                      </label> 
                      {{ form.phone_number }}
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="mb-1">
                          <h6 class="mb-0 text-sm">Pincode</h6>
                      </label>
                      {{ form.pincode }}
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="mb-1">
                          <h6 class="mb-0 text-sm">Locality</h6>
                      </label> 
                      {{ form.locality }}
                  </div>
              </div>
              <div class="col-md-12"> 
                  <label class="mb-1">
                      <h6 class="mb-0 text-sm">Address</h6>
                  </label>
                  {{ form.address }}
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="mb-1">
                          <h6 class="mb-0 text-sm">City/Town</h6>
                      </label>
                      {{ form.city }}
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="mb-1">
                          <h6 class="mb-0 text-sm">Landmark</h6>
                      </label> 
                      {{ form.landmark }}
                  </div>
              </div>
                
            
                
            </div>
            <a href="{% url 'success' %}" type="button" class="btn btn-primary waves-effect waves-light">CHECKOUT</a>
          </form>

        </div>
      </div>
      <!-- Card -->

     

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Block Content-->






<div class="container">
  <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Add address</h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback"> Valid first name is required. </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback"> Valid last name is required. </div>
                    </div>
                </div>
            
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                    <div class="invalid-feedback"> Please enter your shipping address. </div>
                </div>
                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required="">
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback"> Please select a valid country. </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback"> Please provide a valid state. </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required="">
                        <div class="invalid-feedback"> Zip code required. </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback"> Name on card is required </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback"> Credit card number is required </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback"> Expiration date required </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback"> Security code required </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
        </div>
    </div>
</div>
  {% endblock main_content %}