{% load static %}
{% comment %} {% load cart_template_tag %} {% endcomment %}

<!-- Navbar -->

  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <img src="{% static 'img/book.jpg' %}" width="45px"/>&nbsp&nbsp&nbsp
      <a class="navbar-brand waves-effect" href="{% url 'home' %}">
        <strong class="white-text">Book Store</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <input class="search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn my-1 my-sm-0 white-text" type="submit">Search</button>
        </form>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'order_summary' %}" class="nav-link waves-effect white-text">
              <span class="badge red z-depth-1 mr-1"></span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="dropdown nav-item"><a class="nav-link waves-effect white-text" data-toggle="dropdown">Welcome, {{ request.user.first_name }} {{ request.user.last_name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Logout</a></li>
              </ul>
          </li>
          
        {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect white-text" href="{% url 'login' %}">
              <span class="clearfix d-none d-sm-inline-block">Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect white-text" href="{% url 'register' %}">
              <span class="clearfix d-none d-sm-inline-block">Register</span>
            </a>
          </li>
        </ul>
        {% endif %}
      </div>

    </div>
  </nav>
  <!-- Navbar -->